version: '3'
services:
  netdata:
    image: netdata/netdata:stable
    container_name: netdata
    hostname: <insert server FQDN here>
    ports:
      - 19999:19999
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    environment:
      - DOCKER_USER=root
    volumes:
      # Netdata
      - ./netdataconfig/netdata:/etc/netdata:ro
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      # For Netdata to work in Docker
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      # NanoNodeGraphics
      - ./NanoNodeGraphics/src/nanonode.chart.py:/usr/libexec/netdata/python.d/nanonode.chart.py
      - ./NanoNodeGraphics/src/nanonode.conf:/usr/lib/netdata/conf.d/python.d/nanonode.conf
      - ./NanoNodeGraphics/src/nano.html:/usr/share/netdata/web/nano.html
      - ./NanoNodeGraphics/src/nano.css:/usr/share/netdata/web/nano.css
    # If running on a Windows host, remove the extra_hosts setting since it's there by default
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  netdatalib:
  netdatacache:
