h2 {
	margin-top: 30px !important;
}

.div-main {
	width: 100%;
	text-align: center;
}

.div-system {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.div-system-group {
	width: 37%;
	text-align: center;
	display: inline-block;
	margin-top: 20px !important;
}

.div-system-group-c {
	width: 26%;
	text-align: center;
	margin-top: 20px !important;
}

.div-float {
	width: 48%;
	text-align: center;
	display: inline-block;
}

.div-graph {
	width: 100%;
	height: 16vh;
	text-align: center;
	display: inline-block;
}

.div-graph-data {
	width: 100%;
	height: calc(100% - 15px);
	text-align: center;
	display: inline-block;
	margin-top: 10px;
}

.div-header {
	width: 100%;
	height: 15px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto;
}

.div-footer {
	margin-top: 20px;
	margin-bottom: 10px;
	width:100%;
	text-align:center;
	display: inline-block;
}

.footer-text {
	font-size: 12px;
}

@media only screen and (max-width: 1000px) {
	.div-float {
		width: 100%;
	}
	
	.div-system-group {
		width: 90%;
	}
	
	.div-system-group-c {
		width: 70%;
	}
	
	.left, .right {
		margin: 0 auto;
		float: none;
	}
	.footer-text {
		font-size: 8px;
	}
}

@media only screen and (max-width: 800px) {
	h1 {
		font-size: 1.8em !important;
	}
	
	h2 {
		margin-top: 15px !important;
		font-size: 1.5em !important;
	}
	
	.div-header {
		height: 12px !important;
		margin-top: 12px !important;
	}
	
	.div-system-group {
		margin-top: 10px !important;
	}

	.div-system-group-c {
		margin-top: 10px !important;
	}
}
